@import 'https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  box-sizing: border-box;
  font-size: 10px;
  text-rendering: optimizeLegibility;

  --primary-color: #800080;
  --primary-alternate: #d88429;
  --light-gray: #e4e4e4;
  --dark-gray: #444;
}

.hero-body {
  height: 80vh;
  width: 80vw;
  margin: 2rem auto 6rem auto;
  font-family: 'Open Sans', serif;
  background-color: var(--light-gray);
  /* background-image: url('/img/beer-tabletop.jpg'); */
  background-size: cover;
  padding: 0;
  border-radius: 2rem;
  opacity: 85%;
  transform: skew(6deg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow: hidden;
}

.hero-body::before {
  content: '';
  background-image: url('/img/beer-tabletop.jpg');
  background-size: cover;
  transform: skew(-6deg);
  height: 100%;
  width: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.614);
  border-radius: 2rem;
}

.buttons a {
  font-family: 'Open Sans', serif;
  text-shadow: none;
}

.title-parent {
  transform: skew(-6deg);
}

.title,
.subtitle {
  color: var(--light-gray);
}

.logo {
  max-width: 300px;
}

.sign-up {
  background-color: var(--primary-alternate);
}

.navbar-item {
  font-family: 'Allura';
  font-size: 4rem;
  color: var(--primary-color);
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.6);
}
