@import 'https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css';

:root {
  box-sizing: border-box;
  font-size: 10px;
  text-rendering: optimizeLegibility;

  --primary-color: #800080;
  --primary-alternate: #d88429;
  --light-gray: #e4e4e4;
  --dark-gray: #444;
}

.hero-body {
  height: 80vh;
  width: 75vw;
  margin: 10rem auto 6rem auto;
  background-color: var(--light-gray);
  background-image: url('/img/beer-tabletop.jpg');
  background-size: cover;
  padding: 0;
  border-radius: 2rem;
  opacity: 85%;
  transform: skew(6deg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.614);
  border-radius: 2rem;
}

.title-parent {
  transform: skew(-6deg);
}

.title,
.subtitle {
  color: var(--light-gray);
}

.logo {
  width: 100%;
}
